.QS{
    max-width: 50%;
    padding: 20px;
}

.catalogo{
    display: flex;
    justify-content: center;
    
}

.contenedor{
    display: flex;
    justify-content: space-around;
    display: grid;
    grid-template-columns: 300px 300px 300px;
    
    &__card{
        padding: 30px;
        border:solid black;
        color: $Primero;
        background-color: $Tercero;
    }
}

